.link {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 5px;
    color: #aaa;
    margin-bottom: 20px;
    font-size: 14px;
    transition: 0.3s;
}

.link:hover {
    color: rgb(185, 103, 103);
}

.link svg {
    font-size: 20px;
}
