.section {
    display: flex;
    justify-content: center;
}

.container {
    width: 85vw;
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    text-transform: capitalize;
    color: rgb(185, 103, 103);
    margin: 30px 0;
}

.image {
    margin: 15px 0;
}

.types,
.abilities,
.height,
.weight {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.abilities ul,
.types ul {
    display: flex;
    gap: 10px;
}

.height li {
    text-transform: none;
}

.abilities ul li,
.types ul li,
.height ul li,
.weight ul li {
    padding: 5px 12px;
    color: #f7f7f7;
    border-radius: 8px;
}

.height ul li,
.weight ul li,
.abilities ul li {
    background-color: rgb(185, 103, 103);
}

.physical_status {
    display: flex;
    gap: 10px;
}

.pokemonImage {
    margin: 15px 0;
}

.type_normal {
    background-color: #aa9;
}

.type_fire {
    background-color: #db1c1c;
}

.type_water {
    background-color: #39f;
}

.type_electric {
    background-color: #fc3;
}

.type_grass {
    background-color: #7c5;
}

.type_ice {
    background-color: #6cf;
}

.type_fighting {
    background-color: #b54;
}

.type_poison {
    background-color: #a59;
}

.type_ground {
    background-color: #db5;
}

.type_flying {
    background-color: #89f;
}

.type_psychic {
    background-color: #f59;
}

.type_bug {
    background-color: #ab2;
}

.type_rock {
    background-color: #ba6;
}

.type_ghost {
    background-color: #66b;
}

.type_dragon {
    background-color: #76e;
}

.type_dark {
    background-color: #754;
}

.type_steel {
    background-color: #aab;
}

.type_fairy {
    background-color: #e9e;
}

@media (max-width: 470px) {
    .types,
    .abilities,
    .height,
    .weight {
        font-size: 13px;
    }

    .image {
        width: 140px;
        height: 140px;
    }
}
